@import "tailwindcss";

/* Prevent token from getting hidden behind Pathcells */
@media (min-width: 360px) and (max-width: 728px) {
  body {
    background-image: url("/ChatGPT\ Image\ Apr\ 14\,\ 2025\,\ 10_56_51\ AM.png");
    background-size: cover; /* Makes sure it covers the whole screen */
    background-position: inherit; /* Centers the image */
    background-repeat: repeat; /* Prevents tiling */
    height: 100vh; /* Ensures full screen height */
    margin: 0; /* Removes default spacing */
    overflow: hidden;
  }
  .map {
    height: 300px;
    width: 300px;
    margin-top: 80px;
    background-color: beige;
  }
  /* HTML: <div class="triangle"></div> */
  .safezone-blue {
    height: 30px;
    width: 60px;
    background-color: #60a5fa;
    position: relative;
    top: -60px;
    aspect-ratio: 2;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
  }

  .safezone-green {
    background-color: #34d399;
    height: 30px;
    width: 60px;
    position: relative;

    aspect-ratio: 2;
    clip-path: polygon(50% 100%, 100% 0, 0 0);
  }

  .safezone-red {
    background-color: #f87171;
    height: 60px;
    width: 30px;
    position: relative;
    top: -30px;
    aspect-ratio: 2;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }

  .safezone-yellow {
    background-color: #facc15;
    height: 60px;
    width: 30px;
    position: relative;
    top: -120px;
    left: 30px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    aspect-ratio: 2;
  }
  .custom-upper-row {
    width: 300px;
    height: 120px;
  }
  .custom-middle-row {
    width: 300px;
    height: 60px;
  }
  .dice-box {
    background-color: #fecaca;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dice {
    background-color: white;
    height: 36px;
    width: 36px;
    padding: 0 6px;
  }
  .numberonthedice {
    height: 12px;
    width: 12px;
  }
  .dicedot {
    height: 6px;
    width: 6px;
  }
  .dicedot5 {
    width: 13px;
  }
  .dice-red {
    top: -70px;
  }

  .dice-green {
    top: -70px;
    right: 0;
  }

  .dice-blue {
    top: 130px;
  }

  .dice-yellow {
    top: 130px;
    right: 0;
  }
  .circle-wrapper {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle-base {
    height: 20px;
    width: 20px;
    border-radius: 9999px;
  }
  .home-box {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-inner-box {
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }
  .token-container-relative {
    top: -18px;
    height: 26px;
    width: 13px;
    position: relative;
    left: 4px;
  }
  .token-container-absolute {
    position: absolute;
    height: 26px;
    width: 13px;
    padding-bottom: 7px;
    top: -17px;
    left: 3px;
  }
  .token-div {
    width: 13px;
  }
  .token-circle-inner {
    height: 7px !important;
    width: 7px !important;
  }
  .token-circle-outter {
    height: 12px;
    width: 12px;
  }
  .goti-lower {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 20px 5px;
    border-color: transparent transparent gray transparent;
    transform: rotate(180deg);
    position: relative;
    top: -4px;
    right: -1px;
  }
  .circle-ring {
    height: 10px;
    width: 10px;
    top: 22px;
  }
  .token-container-absolute .circle-ring {
    height: 10px;
    width: 10px;
    top: 22px;
  }
  .path-vertical-height {
    height: 120px;
  }
  .path-horizontal-height {
    height: 60px;
  }
  .path-vertical-width {
    width: 60px;
  }
  .path-horizontal-width {
    width: 120px;
  }
  .pathcell-wrapper {
    height: 20px;
    width: 20px;
  }
  .safezone-box {
    height: 60px;
    width: 60px;
  }
}

@media (min-width: 728px) and (max-width: 1023px) {
  body {
    background-image: url("/ChatGPT\ Image\ Apr\ 14\,\ 2025\,\ 10_56_51\ AM.png");
    background-size: cover; /* Makes sure it covers the whole screen */
    background-position: inherit; /* Centers the image */
    background-repeat: repeat; /* Prevents tiling */
    height: 100vh; /* Ensures full screen height */
    margin: 0; /* Removes default spacing */
    overflow: hidden;
  }
  .map {
    height: 450px;
    width: 450px;
    margin-top: 57px;
    background-color: beige;
  }
  /* HTML: <div class="triangle"></div> */
  .safezone-blue {
    height: 45px;
    width: 90px;
    background-color: #60a5fa;
    position: relative;
    top: -90px;
    aspect-ratio: 2;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
  }

  .safezone-green {
    background-color: #34d399;
    height: 45px;
    width: 90px;
    position: relative;

    aspect-ratio: 2;
    clip-path: polygon(50% 100%, 100% 0, 0 0);
  }

  .safezone-red {
    background-color: #f87171;
    height: 90px;
    width: 45px;
    position: relative;
    top: -45px;
    aspect-ratio: 2;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }

  .safezone-yellow {
    background-color: #facc15;
    height: 90px;
    width: 45px;
    position: relative;
    top: -180px;
    left: 45px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    aspect-ratio: 2;
  }
  .custom-upper-row {
    width: 450px;
    height: 180px;
  }
  .custom-middle-row {
    width: 450px;
    height: 90px;
  }
  .dice-box {
    background-color: #fecaca;
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dice {
    background-color: white;
    height: 60px;
    width: 60px;
    padding: 0 10px;
  }
  .numberonthedice {
    height: 20px;
    width: 20px;
  }
  .dicedot {
    height: 10px;
    width: 10px;
  }
  .dicedot5 {
    width: 23px;
  }
  .dice-red {
    top: -90px;
    right: 180px;
  }

  .dice-green {
    top: -90px;
    right: -90px;
  }

  .dice-blue {
    top: 180px;
    right: 180px;
  }

  .dice-yellow {
    top: 180px;
    right: -90px;
  }
  .circle-wrapper {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle-base {
    height: 30px;
    width: 30px;
    border-radius: 9999px;
  }
  .home-box {
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-inner-box {
    height: 120px;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }
  .token-container-relative {
    top: -18px;
    height: 26px;
    width: 13px;
    position: relative;
    left: 9px;
    transform: scale(1.2);
  }
  .token-container-absolute {
    position: absolute;
    height: 26px;
    width: 13px;
    padding-bottom: 7px;
    top: -19px;
    left: 9px;
    transform: scale(1.2);
  }
  .token-div {
    width: 13px;
  }
  .token-circle-inner {
    height: 7px !important;
    width: 7px !important;
  }
  .token-circle-outter {
    height: 12px;
    width: 12px;
  }
  .goti-lower {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 20px 5px;
    border-color: transparent transparent gray transparent;
    transform: rotate(180deg);
    position: relative;
    top: -4px;
    right: -1px;
  }
  .circle-ring {
    height: 10px;
    width: 10px;
    top: 22px;
  }
  .token-container-absolute .circle-ring {
    height: 10px;
    width: 10px;
    top: 22px;
  }
  .path-vertical-height {
    height: 180px;
  }
  .path-horizontal-height {
    height: 90px;
  }
  .path-vertical-width {
    width: 90px;
  }
  .path-horizontal-width {
    width: 180px;
  }
  .pathcell-wrapper {
    height: 30px;
    width: 30px;
  }
  .safezone-box {
    height: 90px;
    width: 90px;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("/ChatGPT\ Image\ Apr\ 14\,\ 2025\,\ 10_56_51\ AM.png");
    background-size: cover; /* Makes sure it covers the whole screen */
    background-position: inherit; /* Centers the image */
    background-repeat: repeat; /* Prevents tiling */
    height: 100vh; /* Ensures full screen height */
    margin: 0; /* Removes default spacing */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map {
    height: 600px;
    width: 600px;
    background-color: beige;
  }
  .upper-map {
    display: flex;
    width: 600px;
    height: 240px;
  }
  .middle-map {
    display: flex;
    width: 600px;
    height: 120px;
  }
  .lower-map {
    display: flex;
    width: 600px;
    height: 240px;
  }
  /* HTML: <div class="triangle"></div> */
  .safezone-blue {
    height: 60px;
    width: 120px;
    background-color: #60a5fa;
    position: relative;
    top: -120px;
    aspect-ratio: 2;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
  }

  .safezone-green {
    background-color: #34d399;
    height: 60px;
    width: 120px;
    position: relative;

    aspect-ratio: 2;
    clip-path: polygon(50% 100%, 100% 0, 0 0);
  }

  .safezone-red {
    background-color: #f87171;
    height: 120px;
    width: 60px;
    position: relative;
    top: -60px;
    aspect-ratio: 2;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }

  .safezone-yellow {
    background-color: #facc15;
    height: 120px;
    width: 60px;
    position: relative;
    top: -240px;
    left: 60px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    aspect-ratio: 2;
  }
  .custom-upper-row {
    width: 600px;
    height: 240px;
  }
  .custom-middle-row {
    width: 600px;
    height: 120px;
  }
  .dice-box {
    background-color: #fecaca;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dice {
    background-color: white;
    height: 80px;
    width: 80px;
    padding: 0 7px;
  }
  .numberonthedice {
    height: 26px;
    width: 26px;
  }
  .dicedot {
    height: 13px;
    width: 13px;
  }
  .dicedot5 {
    width: 47px;
  }
  .dice-red {
    right: 240px;
  }

  .dice-green {
    right: -120px;
  }

  .dice-blue {
    top: 120px;
    right: 240px;
  }

  .dice-yellow {
    top: 120px;
    right: -120px;
  }
  .circle-wrapper {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle-base {
    height: 40px;
    width: 40px;
    border-radius: 9999px;
  }
  .home-box {
    height: 240px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-inner-box {
    height: 160px;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }
  .token-container-relative {
    top: -23px;
    height: 26px;
    width: 13px;
    position: relative;
    left: 15px;
    transform: scale(2.7);
  }
  .token-container-absolute {
    position: absolute;
    height: 26px;
    width: 13px;
    padding-bottom: 7px;
    top: -19px;
    left: 9px;
    transform: scale(2.7);
  }
  .token-div {
    width: 13px;
  }
  .token-circle-inner {
    height: 7px !important;
    width: 7px !important;
  }
  .token-circle-outter {
    height: 12px;
    width: 12px;
  }
  .goti-lower {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 20px 5px;
    border-color: transparent transparent gray transparent;
    transform: rotate(180deg);
    position: relative;
    top: -4px;
    right: -1px;
  }
  .circle-ring {
    height: 10px;
    width: 10px;
    top: 22px;
  }
  .token-container-absolute .circle-ring {
    height: 10px;
    width: 10px;
    top: 22px;
  }
  .path-vertical-height {
    height: 240px;
  }
  .path-horizontal-height {
    height: 120px;
  }
  .path-vertical-width {
    width: 120px;
  }
  .path-horizontal-width {
    width: 240px;
  }
  .pathcell-wrapper {
    height: 40px;
    width: 40px;
  }
  .safezone-box {
    height: 120px;
    width: 120px;
  }
}

.home-red {
  background-color: #f87171;
}
.home-green {
  background-color: #4ade80;
}
.home-blue {
  background-color: #60a5fa;
}
.home-yellow {
  background-color: #fde047;
}
.circle-red {
  background-color: #f87171;
}
.circle-green {
  background-color: #4ade80;
}
.circle-blue {
  background-color: #60a5fa;
}
.circle-yellow {
  background-color: #fde047;
}
.path-base {
  display: flex;
  flex-wrap: wrap;
}

.path-horizontal-direction {
  flex-direction: column-reverse;
}
.pathcell-inner {
  border: 1px solid #1e3a8a; /* Tailwind: border-b-blue-950 */
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.bg-blue {
  background-color: #60a5fa;
}
.bg-yellow {
  background-color: #facc15;
}
.bg-red {
  background-color: #f87171;
}
.bg-green {
  background-color: #34d399;
}

.token-circle-blue {
  background-color: #60a5fa;
}
.token-circle-green {
  background-color: #34d399;
}
.token-circle-red {
  background-color: #f87171;
}
.token-circle-yellow {
  background-color: #facc15;
}
